@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, arial;
}

html {
    scroll-behavior: smooth;
}

a::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    background-color: white;
    transition: 1s;
}

a:hover::after {
    width: 50%;
}

header {
    padding: 0 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

li {
    list-style: none;
}

.logo p {
    color: white;
    margin: auto;
}

#header-img {
    width: 25px;
    margin: 0 10px;
}

.logo {
    display: flex;
    flex-direction: row-reverse;
}

a {
    text-decoration: none;
    color: white;
}

.desc {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 10em 10em;
    display: flex;
}

.container {
    width: 80%;
    margin: auto;
}

section {
    display: block;
}

.desc p {
    line-height: 120%;
    margin: 30px auto;
}

#why {
    background-color: black;
}

#contact {
    background-color: white;
    padding: 1em;
}

#why p, #why h2 {
    color: white;
}

.desc h2, .desc p {
    font-size: 20px;
}

.desc h2 {
    font-size: 50px;
    line-height: 90%;
}

.desc .button, .desc .button2{
    width: fit-content;
    padding: 13px 35px;
    border-style: none;
    border-radius: 80px;
    margin: auto 0;
    background-color: black;
    color: white;
    transition: 1s;
    font-size: 15px;
}

.desc .button2 {
    background-color: white;
    color: black;
}


.desc .button:hover {
    color: black;
    background-color: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.43);
    cursor: pointer;
}

.desc .button2:hover {
    color: white;
    background-color: black;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.43);
    cursor: pointer;
}

#home-img {
    margin: 0 3em;
}

#why-img {
    margin: 0 3em;
}

.imagee {
    margin: auto;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav li {
    padding: 0px 10px 0px 10px;
}

.container3 {
    margin: 5em;
}

.container4 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container4 h2 {
    text-align: center;
    margin-bottom: 40px
}

.container4 iframe {
    margin: auto;
}

iframe {
    max-width: 560px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1rem 1rem -1rem rgba(55, 56, 58, 0.4);
}

.form-group {
    margin: 10px auto;
}

label {
    font-size: 20px;
}

.spacer {
    padding: 5px;
}

input, textarea {
    font-size: 15px;
    width: 100%;
    border-style: none;
    background-color: white;
    border: solid 1px;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000045;
}

.button3{
    padding: 8px 20px;
    font-size: 20px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: solid 1px;
    box-shadow: 0 0 30px #00000045;
    transition: 1s;
}

.button3:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.footer {
    width: 100%;
    padding: 20px;
    background-color: black;
    color: white;
}

#form {
    width: 100%;
}


@media (max-width: 650px) {
    header {
      flex-wrap: wrap;
    }

    .logo p {
        display: none;
    }
}

@media (max-width: 650px) {
    .logo {
      margin: 15px auto;
    }
}

@media (max-width: 560px){
    .container3 {
        margin: auto;
    }
}

@media (max-width: 650px) {
    nav {
      margin: 15px auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    nav li {
      padding-bottom: 8px;
    }
}

@media (max-width: 500px){
    .desc p {
        font-size: 15px;
    }

    .desc h2 {
        font-size: 40px;
    }

    .desc .buttonfix button {
        font-size: 15px;
        width: auto;
    }
}

@media(max-width: 530px){
    #home-img{
        max-width: 110px;
    }

    #why-img {
        max-width: 140px;
    }
}

@media(max-width: 896px){
    .container{
        padding: 10em 5em;
    }
}

@media(max-width: 690px){
    .container{
        padding: 10em 2em;
    }
}

@media(max-width: 1110px){
    .container{
        flex-direction: column;
    }

    .justimg {
        max-width: 150px;
    }

    .container2 {
        flex-direction: column-reverse;
    }

    .desc {
        text-align: center;
    }

    .buttonfix {
        margin: auto;
    }

    #home-img {
        margin: 10px auto;
    }

    #why-img {
        margin: 10px auto;
    }
}
